@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root {
  @apply h-full;
}

.card {
  background: linear-gradient(navy 50%, white 50%);
}

.credit-card {
  position: relative;
  background-image: url("/card-design3.jpg");
  background-position: center;
  background-size: cover;
  perspective: 500px;
  transition: transform 1s;
  transform-style: preserve-3d;
  transform-origin: center;
}

.credit-card:hover {
  transform: rotateY(-180deg);
}

.credit-card::after {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: inherit;
  background-color: navy;
  z-index: -10;
  opacity: 0.3;
}
.card__face {
  position: absolute;
  height: 100%;
  width: 100%;
  backface-visibility: hidden;
}
.card__face__back {
  transform: rotateY(180deg);
}

.debug {
  /* @apply border border-red-500; */
  /* Use outline as it doesn't take space border can cause unneccesary havoc */
  outline: 1px solid red;
}

input:focus {
  box-shadow: 0px 10px 10px -10px #20387559;
}
